body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;

/* Firefox */
* {
  scrollbar-width: 1px;
  scrollbar-color: #f1f5f9 #202c3c;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: #f1f5f9;
  /* border-radius: 5px; */
}

*::-webkit-scrollbar-thumb {
  background-color: #202c3c;
  /* border-radius: 7px; */
}

@tailwind components;
@tailwind utilities;